.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 16px;
}

body {
  margin: 0;
  font-family: "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.title {
  margin-top: 50px;
  font-size: 36px;
  font-weight: bolder;
}

.list-item {
  font-family: "Helvetica Neue", sans-serif;
  margin-top: 15px;
  flex-wrap: nowrap;
}

.fileContainer .chooseFileButton {
  background: black;
  border-radius: 0%;
  font-family: "Helvetica Neue", sans-serif;
  font-weight: normal;
  margin-top: 25px;
}

#button-generate {
  font-family: "Helvetica Neue", sans-serif;
  background-color: black;
  color: white;
  margin-top: 25px;
}

.emoji-card {
  text-align: center;
  align-items: center;
}

.emoji-image {
  width: 200px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.emoji-name {
  font-size: 18px;
}

.loading {
  margin-top: 15px;
  margin-bottom: 15px;
}

.error-message {
  color: red;
  margin-top: 15px;
  margin-bottom: 15px;
}
