.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 16px;
}

body {
  margin: 0;
  font-family: "Century Gothic", sans-serif;
  color: #33adff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#button-generate {
  font-family: "Century Gothic", sans-serif;
  color: white;
  margin-top: 25px;
  -webkit-animation: background-color-change 3s infinite;
  -moz-animation: background-color-change 3s infinite;
  -o-animation: background-color-change 3s infinite;
  -ms-animation: background-color-change 3s infinite;
  animation: background-color-change 3s infinite;
}

#button-save {
  font-family: "Century Gothic", sans-serif;
  background-color: #1a1a1a;
  color: white;
  margin-top: 25px;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 15px;
  margin-bottom: 15px;
}

.row > .card {
  margin-left: 25px;
  margin-right: 25px;
}

.title {
  color: #33adff;
  margin-top: 35px;
  font-size: 36px;
  font-weight: bolder;
}

.card {
  font-family: "Century Gothic", sans-serif;
  margin-top: 15px;
  flex-wrap: nowrap;
}

.fileContainer .chooseFileButton {
  background: #33adff;
  border-radius: 0%;
  font-family: "Century Gothic", sans-serif;
  font-weight: bold;
  margin-top: 25px;
  width: 100px;
  height: 35px;
  border-radius: 5px;
}
.fileContainer .chooseFileButton:hover {
  background-color: black;
}

.fileContainer .uploadIcon {
  width: 70px;
  height: 70px;
}

.fileContainer p {
  color: #5a5a5a;
  font-size: 12px;
  margin-top: 20px;
  letter-spacing: 0.75px;
}

.card-layout {
  text-align: center;
  align-items: center;
}

.card-image {
  object-fit: cover;
  width: 200px;
  height: 200px;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 25px;
  margin-right: 25px;
}

.card-name {
  font-size: 14px;
  margin-top: 30px;
}

.error-message {
  color: red;
  margin-top: 15px;
  margin-bottom: 15px;
}

.loading {
  margin-top: 15px;
  margin-bottom: 15px;
  -webkit-animation: color-change 5s infinite;
  -moz-animation: color-change 5s infinite;
  -o-animation: color-change 5s infinite;
  -ms-animation: color-change 5s infinite;
  animation: color-change 5s infinite;
}

@-webkit-keyframes background-color-change {
  0% {
    background-color: #000000;
  }
  50% {
    background-color: #404040;
  }
  100% {
    background-color: #000000;
  }
}
@-moz-keyframes background-color-change {
  0% {
    background-color: #000000;
  }
  50% {
    background-color: #404040;
  }
  100% {
    background-color: #000000;
  }
}
@-ms-keyframes background-color-change {
  0% {
    background-color: #000000;
  }
  50% {
    background-color: #404040;
  }
  100% {
    background-color: #000000;
  }
}
@-o-keyframes background-color-change {
  0% {
    background-color: #000000;
  }
  50% {
    background-color: #404040;
  }
  100% {
    background-color: #000000;
  }
}
@keyframes background-color-change {
  0% {
    background-color: #000000;
  }
  50% {
    background-color: #404040;
  }
  100% {
    background-color: #000000;
  }
}

@-webkit-keyframes color-change {
  0% {
    color: #00ff99;
  }
  50% {
    color: #b300b3;
  }
  100% {
    color: #00ff99;
  }
}
@-moz-keyframes color-change {
  0% {
    color: #00ff99;
  }
  50% {
    color: #b300b3;
  }
  100% {
    color: #00ff99;
  }
}
@-ms-keyframes color-change {
  0% {
    color: #00ff99;
  }
  50% {
    color: #b300b3;
  }
  100% {
    color: #00ff99;
  }
}
@-o-keyframes color-change {
  0% {
    color: #00ff99;
  }
  50% {
    color: #b300b3;
  }
  100% {
    color: #00ff99;
  }
}
@keyframes color-change {
  0% {
    color: #00ff99;
  }
  50% {
    color: #b300b3;
  }
  100% {
    color: #00ff99;
  }
}
