:root {
  --main-color: #33adff;
  --grey: #5a5a5a;
  --mid-grey: #404040;
  --dark-grey: #1a1a1a;
  --pink: #b300b3;
  --green: #00ff99;
  --black: #000000;
  --size-to: 250px;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 16px;
}

body {
  margin: 0;
  font-family: "Century Gothic", sans-serif;
  color: var(--main-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#button-generate {
  font-family: "Century Gothic", sans-serif;
  color: white;
  margin-top: 25px;
  -webkit-animation: background-color-change 3s infinite;
  -moz-animation: background-color-change 3s infinite;
  -o-animation: background-color-change 3s infinite;
  -ms-animation: background-color-change 3s infinite;
  animation: background-color-change 3s infinite;
}

#button-save {
  font-family: "Century Gothic", sans-serif;
  background-color: var(--dark-grey);
  color: white;
  margin-top: 25px;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 10px;
  margin-bottom: 10px;
}

.row > .card {
  margin-left: 25px;
  margin-right: 25px;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  justify-content: center;
}

.column > * {
  margin-top: 15px;
  margin-bottom: 15px;
}

.title {
  color: var(--main-color);
  margin-top: 35px;
  font-size: 36px;
  font-weight: bolder;
}

.fileContainer .chooseFileButton {
  background: var(--main-color);
  border-radius: 0%;
  font-family: "Century Gothic", sans-serif;
  font-weight: 550;
  margin-top: 25px;
  width: 100px;
  height: 35px;
  border-radius: 5px;
}
.fileContainer .chooseFileButton:hover {
  background-color: var(--black);
}

.fileContainer .uploadIcon {
  width: 70px;
  height: 70px;
}

.fileContainer p {
  color: var(--grey);
  font-size: 12px;
  margin-top: 20px;
  letter-spacing: 0.75px;
}

.explanation {
  color: var(--mid-grey);
  font-weight: lighter;
  margin-top: 25px;
  margin-bottom: 25px;
}

.explanation-title {
  font-size: 20px;
}

.card {
  font-family: "Century Gothic", sans-serif;
  margin-top: 15px;
  margin-bottom: 15px;
  flex-wrap: nowrap;
}

.card-layout {
  text-align: center;
  align-items: center;
}

.card-image {
  object-fit: cover;
  width: 200px;
  height: 200px;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: 25px;
  margin-right: 25px;
}

.card-name {
  font-size: 14px;
  margin-top: 25px;
}

.error-message {
  font-size: 12px;
  font-weight: lighter;
  color: red;
  margin-top: 15px;
  margin-bottom: 15px;
}

.loading {
  margin-top: 50px;
  margin-bottom: 15px;
  -webkit-animation: color-change 5s infinite;
  -moz-animation: color-change 5s infinite;
  -o-animation: color-change 5s infinite;
  -ms-animation: color-change 5s infinite;
  animation: color-change 5s infinite;
}

.circle {
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 100px;
  left: 0;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.circle__el {
  width: 0;
  height: 0;
  background: transparent;
  border: 5px solid var(--circle-color);
  border-radius: 50%;
  animation: go 1.5s ease-out infinite;
}

.circle__el_two {
  animation-delay: 0.5s;
}

.circle__el_three {
  animation-delay: 1s;
}

@-webkit-keyframes background-color-change {
  0% {
    background-color: var(--black);
  }
  50% {
    background-color: var(--main-grey);
  }
  100% {
    background-color: var(--black);
  }
}
@-moz-keyframes background-color-change {
  0% {
    background-color: var(--black);
  }
  50% {
    background-color: var(--main-grey);
  }
  100% {
    background-color: var(--black);
  }
}
@-ms-keyframes background-color-change {
  0% {
    background-color: var(--black);
  }
  50% {
    background-color: var(--main-grey);
  }
  100% {
    background-color: var(--black);
  }
}
@-o-keyframes background-color-change {
  0% {
    background-color: var(--black);
  }
  50% {
    background-color: var(--main-grey);
  }
  100% {
    background-color: var(--black);
  }
}
@keyframes background-color-change {
  0% {
    background-color: var(--black);
  }
  50% {
    background-color: var(--main-grey);
  }
  100% {
    background-color: var(--black);
  }
}

@-webkit-keyframes color-change {
  0% {
    color: var(--green);
  }
  50% {
    color: var(--pink);
  }
  100% {
    color: var(--green);
  }
}
@-moz-keyframes color-change {
  0% {
    color: var(--green);
  }
  50% {
    color: var(--pink);
  }
  100% {
    color: var(--green);
  }
}
@-ms-keyframes color-change {
  0% {
    color: var(--green);
  }
  50% {
    color: var(--pink);
  }
  100% {
    color: var(--green);
  }
}
@-o-keyframes color-change {
  0% {
    color: var(--green);
  }
  50% {
    color: var(--pink);
  }
  100% {
    color: var(--green);
  }
}
@keyframes color-change {
  0% {
    color: var(--green);
  }
  50% {
    color: var(--pink);
  }
  100% {
    color: var(--green);
  }
}
@keyframes go {
  100% {
    width: var(--size-to);
    height: var(--size-to);
    box-shadow: 0 0 15px var(--main-color);
    opacity: 0;
  }
}
